$apigee-logo           : inline-image('logo-white.png');
$redApigee             : #ff4300;
$grayApigee            : #575560;
$border                : #c9c9c9;
$border2               : #e5e5e5;
$modalBar              : #f2f2f2;
$h3Color               : #ccc;
$minScreenWidth        : 640px;
$maxPanelWidth         : 1280px;
$linkHoverBgColor      : #e5e5e5;
$linkColor             : #1b97d1;
$apigeeOrange          : #ff4300;
$apigeeNavSelection    : #ff0303;
$apigeeApplicationName : #b22714;
$apigeeGradient        : #f03800;
$apigeeBlue            : #1b97d1;